---
// BaseLayout.astro

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";

const {
  title = "Amr Gobran",
  description = "My developer portfolio made with Astro.js",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.url.href} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ClientRouter />

    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:image" content="og-image.png" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="og-image.png" />
  </head>
  <body class="">
    <div class="flex flex-col min-h-screen">
      <Header />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
